<div class="header">
  <img src="<%= asset_url('kin_mason.png') %>" alt="Kinnect: Share Moving Memories" style="width:300px">
</div>
<div id="img-container" class="img-container">
  <% @photos.each do |photo| %>
    <%= image_tag photo.url, class: 'img' %>
  <% end %>
</div>
<div class="footer">
  <font size="4em" face="calibri" align="left" color="#023692 ">
    <strong>KINNECT</strong> is a <a class="git" href="https://github.com/Skookum-Nightshift/kinnect"> SDW Night Shift Open Source project.</a>
  </font>
</div>
