.img {
    background-color:#555555;
    width: 25%;
    border-radius: 5px;
    position:relative;
}

.header{
  border-radius: 5px;
  background-color: #67d4ff;
  height: 85px;
  width:95%;
  padding: 20px;
}

.container{
  width:95%;
  border-radius: 5px;
  position:"relative";
  height: 100%;
}

.img-container{
  background-color:"#FFF";
  width:90%;
  border-radius: 5px;
  border-width: 3px;
  border-color:"black";
  position:"relative";
  height: 100%;
}

.footer{
  border-radius: 5px;
  background-color: #67d4ff;
  height: 25;
  width:95%;
  padding: 20px;
}

.git {
  text-decoration: none;
  
  &:visited {
    color: "#023692";
  }
}
